@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;1,8..60,300;1,8..60,400;1,8..60,600;1,8..60,700&family=Titillium+Web:wght@700&display=swap');
@import '~ngx-toastr/toastr';

:root{
    --primary-color:#026467;
    --secondary-color:#e5f5ea;
    --body-text-color:#596392;
    --navbar-footer-color:#f9f9f9;
}

body{
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

.nav-link{
    text-transform: uppercase;
    color: var(--primary-color);
    
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    
}
.nav-link{
    color: var(--primary-color);
}

.bg-theme{
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}

.bg-theme-primary{
    background-color: var(--primary-color);
}

.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
.text-theme-primary{
    color: var(--primary-color);
}

input[type=text],
input[type=email] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-theme {
    height: 58px;
    width: 100%;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    color: white;

}



